@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.player-container.theatre {
  @apply !w-full lg:!w-full
}

.player-container.theatre video {
  @apply !h-[800px]
}


.player-container.fullscreen {
  @apply !w-full lg:!w-full !h-full !fixed !z-10 !left-0 !right-0 !bottom-0 !top-0
}

.player-container.fullscreen video {
  @apply !h-full
}

.player-container video::cue {
  visibility: hidden !important;

}


.cue-container {
  @apply flex text-white text-[16px] md:text-[18px] lg:text-[20px] h-auto w-full justify-center

}

.custom-cue {
  @apply bg-transparent block py-2.5 px-2
}